ul {  
    list-style-type: none;   
    font-size: 20px;  
}

legend {
    font-size: 20px;
    font-weight: bold;
}

.form-label {
    font-size: large;
}

.required .form-label:after {
    content: "*";
    color: #A80000;
}

h1 {
    text-align:center;
}


section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.row {
    padding: 1em;
}

.col {
    align-self: center;
    justify-content: center;
}

/*CSS for buttons*/
.btn {
    padding: .5em 1.5rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px #7c7c7c;
    background-color: #c4e0ac;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #b5edf5;
}

.btn-link {

    --bs-btn-color: black;
    --bs-btn-hover-color: black;

}


